@model InterbankV2.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div class="row">
            <h3>Login</h3>
            <div class="input-field col s12 m6">
                    @Html.TextBoxFor(u => u.UserName, htmlAttributes: new { @class="validate", @type="text" })
                   @Html.LabelFor(u => u.UserName)
                    @Html.ValidationMessageFor(u => u.UserName)
            </div>

            <div class="input-field col s12 m6">
                @Html.LabelFor(u => u.Password)
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Login
            <i class="material-icons">send</i>
        </button>
            @Html.ActionLink("Crear nueva cuenta", "Create") 
    </div>
}
